body{
    background: linear-gradient(rgb(18, 19, 19) 5%, rgb(70, 27, 140) 40%);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section{
    width: 33%;
    padding: 3% 0 40%;
}
.apresentacao{    
    background: #dfb3ff;
    box-shadow: inset 0px 0px 100px #bf00ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 0.5em;
}
h1{
    margin: 1em 0 ;
    font-weight: bolder;
}

.perfil{
    display: grid;
    justify-content: center;
}
.alinha_foto {
    padding: 7% 0 0 30%;
}

.foto {
    border-radius: 100%;
    width: 100px;
    margin-top: 2em;
}
ul{
    padding-left: 10em;
} 
ul li{
    display: contents;
}
.rede_social{
    width: 8%;
    margin: 1em 0 0 1em;

}
.qualificacao{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba(138, 138, 138, 0.856);
    box-shadow: inset 0px 1px 100px #000000;
}
.divbraba{
    text-align: center;
}


@media screen and (max-width: 480px) {
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    section{
        width: 100%;
        padding: 3% 0 60%;
    }
    .apresentacao{
        font-size: 14px;
    }
}